body {
  background-color: #98c8e3;
}

table,
th,
td {
  border: 1px solid;
}

table {
  width: 100%;
  border-collapse: collapse;
}
table input {
  
}
#editForm tfoot input: { [type="text"]
  width: 100%;
}
input:not([type="image" i]) {
  box-sizing: border-box;
}

td {
  text-align: center;
}

td,
th {
  padding: 10px;
}

th {
  background-color: #8cbfdb;
}

tfoot {
  background-color: #d8dbd6;
}

h1 {
  text-align: center;
}
