table,
th,
td {
  border: 1px solid;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td {
  text-align: center;
}

td,
th {
  padding: 10px;
}

tr:nth-child(even) {
  background-color: #ebf0f2;
}

th {
  background-color: #8cbfdb;
}

tfoot {
  background-color: #d8dbd6;
}
